* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;

  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .profile-container {
    margin: 5rem auto;
    width: 40%;
    height: 30%;
    border: 1px solid #ddd;
    border-radius: 20px;
  }
}

// .main-container {
//   height: 100vh;

//   .profile-container {
//     margin: 10% auto;
//     width: 60%;
//     border: 1px solid #ddd;
//     border-radius: 10px;
//     display: flex;
//     justify-content: center;

//     .upper-profile-container {
//       .image-wrapper {
//         border-radius: 50%;
//       }
//     }

//     .lower-profile-container {
//       border-top: 1px solid #ddd;
//     }
//   }
// }
