* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

* .attribution {
  font-size: 11px;
  text-align: center;
}

* .attribution a {
  color: #3e52a3;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("./images/bg-pattern-top.svg") -101px -600px no-repeat,
    url("./images/bg-pattern-bottom.svg") 750px 550px no-repeat,
    radial-gradient(
      circle at 0% 61%,
      rgba(38, 180, 190, 1) 0%,
      rgba(26, 161, 173, 1) 100%
    );
}

.profile-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5rem auto;
  box-shadow: 0px 8px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: #fff;
}

.profile-bg {
  flex: 1;
}

.profile-bg img {
  width: 100%;
  object-fit: contain;
  border-radius: 20px 20px 0 0;
}

.profile-main {
  flex: 1;
  display: flex;
  border-bottom: 1px solid #ddd;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0 1rem;
}

.profile-details {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.user-dp {
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  z-index: 10;
  top: 90px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.user-name span {
  margin: 0 0.2rem;
}

.user-name span:first-child {
  font-weight: bold;
  line-height: 20px;
}

.user-name span:last-child {
  line-height: 20px;
  color: #b6b6b7;
}

.user-location {
  font-size: 12px;
  color: #b6b6b7;
}

.profile-details {
  flex: 0.5;
  margin: 0.5rem 0;
}

.profile-details section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  bottom: 0;
}

.profile-number {
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
}

.profile-text {
  font-size: 12px;
  color: #b6b6b7;
}

@media screen and (max-width: 550px) {
  .main-container {
    background: url("./images/bg-pattern-top.svg") -700px -400px no-repeat,
    url("./images/bg-pattern-bottom.svg") 250px 300px no-repeat,
    radial-gradient(
      circle at 0% 61%,
      rgba(38, 180, 190, 1) 0%,
      rgba(26, 161, 173, 1) 100%
    );
  }

  .profile-container {
    margin: 4rem 2rem;
  }
}
